.products {
    &__product {
        border: 1px solid gray;
        padding:20px;
    }

    &__product-actions {
        width:100%;
        display:flex; 
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}

.product {
    padding: 10px;

    &__details {
        
    }

    &__detail {
        margin: 5px auto;
    }

    &__detail--flex {
        display:flex;
        align-items: baseline;
        gap: 5px;

    }
}

