.cxbtn {
    border: none;
    border-radius: 100px;
    padding: 10px;
    width: 30%;

    &--filled {
        background-color: #4484F5;
        color: #fff;

        &:hover {
            background-color: lighten(#4484F5, 5%);
        }
    }

    &--simple {
        background-color: transparent;
        border: none;
    } 
    
    &--small {
        width: 10%;
        font-size: 1em;
    }

    &--round {
        border-radius: 100px;
    }

    &--right {
        float: right;
    }
}