.cxbtn {
    border: none;
    border-radius: 100px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;

    &--large {
        width: 60%;
    }

    &--medium {
        width: 49%;
    }

    &--small {
        width: 10%;
        font-size: 1em;
    }

    &--filled {
        background-color: $primary;
        border: 1px solid $primary;
        font-weight: 900;
        color: #fff;

        &:hover {
            background-color: lighten($primary, 5%);
        }
    }

    &--simple {
        background-color: transparent;
        border: none;
        color: $primary;
    } 

    &--outlined {
        background-color: transparent;
        border: 1px solid $base;
    } 
    

    &--round {
        border-radius: 100px;
    }

    &--right {
        float: right;
    }
}