.cxheader__logo {
  font-size: 1.5rem;  
  font-weight: 900;
  padding: 5px;
  color: red;
  border: 10px solid red;
}

.cximage {
  display: flex;
  justify-content: center;

  .cximage__wrapper {
    flex-shrink: 0;
    justify-content: center;
    align-self: center;

    .cximage__image {
      padding: 10px;
      width: 350px; // verify that we want to add a fixed size to this
    }

    .cximage__image--sm {
      width: 250px;
    }
  }
}