body {
 font-family: sans-serif;
}

a {
    color: #2E5B8D;
    font-weight: 700;
    
    &:hover {
        color: red
    }
}

ul, ol {
    list-style: none;
}

h1 {

}

hr {
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #CCCCCC;
}

table {
    margin-top: 20px;
    border-collapse: collapse; 

    tbody {

        tr {
            border-bottom: 1px solid #dddddd;
            
            &:first-of-type {
                border-top: 1px solid #ddd;
            }
            &:nth-of-type(even) {
                background-color: #f3f3f3;
            }

        }
    }

    th, td {
        padding: 5px 0;
        text-align: start;
    }

}
