.sr-only {
    visibility: hidden;
    height: 0;
}

.cxhidden {
    display: none;
}

.cxwarn {
    color: #932120;
}

.my {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}